@media(max-width:760px){
    #bars{
        display: block;
    }
    .social-links{
        display: none;
    }
    
       
     .second-social-links{
        
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background-color:rgba(0, 0, 0, 0.266);
        padding: 20px 100px;
        transform: translateX(-150%);
            transition: 0.5s;
        
     }
         .second-social-links a{
            background-color: #5AB2FF;
            padding: 10px 100px;
            display: block;
            text-align: center;
            border-radius: 8px;
            margin: 10px 0;
            
         }
    
         
    
}
@media(min-width:760px){
    .second-social-links{
        display: none;
    }
}